html{
    font-size: 62.5%;
    font-family: 'Poppins', 'sans-serif';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blogs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container-blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.card-blog{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

.card-blog .container-img{
    border-radius: 2rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
